@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Livvic|Comfortaa&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

input {
  width: 60%;
  border-radius: 20px;
  background: white;
  border: none;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-family: 'Livvic', sans-serif;
  color: #eb4d4d;
}

input:focus {
  outline: none;
}

button {
  display: block;
  text-align: center;
  border: none;
  padding: 10px 20px;
  font-family: 'Livvic', sans-serif;
  color: #eb4d4d;
  border-radius: 20px;
  font-size: 30px;
  margin: 10px auto;
}

button:hover {
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 1px solid white;
}

.navBar * {
  background-color: white;
  color: grey;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.5);
  transition: all 0.25s;
}

.navBar *:hover {
  color: #f58989;
}

.navBar .active {
  color: #eb4d4d;
}

.readCount {
  position: fixed;
  z-index: 5;
  top: 30px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #eb4d4d;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
}

.previousSearches {
  position: fixed;
  z-index: 5;
  top: 100px;
  right: 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #eb4d4d;
  text-align: center;
  padding: 0 20px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
  max-height: 500px;
  overflow: scroll;
}

.previousSearches p {
  font-size: 25px;
  border-bottom: 1px solid #eb4d4d;
  margin-bottom: 0;
}

.previousSearches button {
  font-size: 20px;
  padding: 0;
  transition: all 0.5s;
}

.previousSearches button:hover {
  color: #f58989;
  font-size: 21px;
}

.previousSearches i {
  transition: all 0.5s;
}

.previousSearches i:hover {
  cursor: pointer;
  color: #f58989;
}

.previousSearches .fa-times {
  position: absolute;
  top: 5px;
  right: 10px;
}

.previousSearches .fa-bars {
  padding: 20px 0;
  font-size: 30px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
}

.previousSearches .fa-bars:hover {
  font-size: 35px;
  line-height: 35px;
}

.header {
  padding: 100px 0 20px 0;
  text-align: center;
  background-image: linear-gradient(#eb4d4d, #f58989);
}

.title {
  font-family: 'Comfortaa', cursive;
  font-size: 70px;
  color: white;
}

.fab {
  padding: 0 20px;
}

#topData {
  color: #f06c6c;
  text-align: center;
  font-size: 30px;
  padding: 20px 0 10px 0;
  width: 100%;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result {
  margin: 30px;
  position: relative;
  width: 250px;
  transition: all 0.5s;
  border-radius: 10px;
  min-width: 20%;
  height: 300px;
}

.result:hover {
  box-shadow: 5px 10px 18px #888888;
  transform: scale(1.02);
}

.result img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 258px;
  display: block;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
}

.resultOverlay, .resultContent, .topContent, .fullOverlay {
  position: absolute;
  left: 0;
  right: 0;
}

.resultOverlay {
  top: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8));
  border-radius: 10px;
}

.fullOverlay {
  top: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  border-radius: 10px;
}

.resultContent {
  padding: 15px;
  color: white;
  bottom: 0;
  z-index: 1;
}

.resultTitle {
  font-size: 25px;
  padding-bottom: 10px;
}

.topContent {
  text-align: right;
  padding: 15px;
  color: white;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

#error {
  margin: 40px 0;
  text-align: center;
  color: #f06c6c;
  font-size: 30px;
}

#error .fas {
  padding-bottom: 20px;
  font-size: 120px;
}

/* spinner code */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  /* display: none; */
  color: #f06c6c;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
}
